$bg: #08081E;
$bg-light: #131844;
$bg-dark: #050914;
$offwhite: #F1EDE9;
$placeholder: #878DC5;
$primary: #8834F6;
$primary-dark: #501E90;

$invalid: #E61819;

.col-gap-3 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-container {
    background: linear-gradient(180deg, rgba(8, 8, 30, 0.20) 0%, rgba(15, 23, 49, 0.20) 100%), $bg;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;

    padding: 4rem 2rem;

    align-items: center;

    h1 {
        color: $offwhite;
        margin-bottom: 0;
        color: #F1EDE9;

        text-shadow: 0 0 10px $primary;
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        line-height: 4.6875rem;
        font-family: "BraahOne";
    }

    .input {
        width: 100%;
        position: relative;
        font-family: "Kanchenjunga";
        color: $placeholder;
        font-weight: 600;

        label {
            position: absolute;
            left: 0.625rem;
            font-size: 1rem;

            transition: .15s ease;

            z-index: 99;

            color: $offwhite;
        }

        &:has(input:placeholder-shown:not(:focus-within)) {
            label {
                left: 1rem;
                font-size: 1.5rem;

                top: 50%;
                transform: translateY(-50%);
            }
        }

        .form-control,
        .input-group-text {
            background: $bg-light;
            border: none;
            box-shadow: none;
            color: $offwhite;
            padding: 1rem;
            height: 5rem;
            font-size: 1.5rem;

            &:focus-within {
                box-shadow: 0 0 4px 0 $bg-light;
            }
        }

        .input-group-text {
            cursor: pointer;
            border-top-right-radius: 0.75rem !important;
            border-bottom-right-radius: 0.75rem !important;

            &.disabled {
                pointer-events: none;
                cursor: default;

                .material-symbols-rounded {
                    opacity: .4;
                }
            }
        }

        .form-control {
            border-top-left-radius: 0.75rem !important;
            border-bottom-left-radius: 0.75rem !important;
        }

        &.invalid {
            .form-control {
                border: 1px solid $invalid;
            }

            .error,
            label,
            input {
                color: $invalid;
            }
        }

    }

    .btn-primary {
        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(179deg, $primary -24.1%, $primary-dark 150.43%);
        color: $bg;
        font-family: "BraahOne";
        padding: 1rem;
        border-radius: 0.75rem;
        border: none;
        width: 100%;

        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: normal;

        &:disabled {
            opacity: 0.4;
        }
    }

    .board {
        position: relative;
        width: 18.75rem;
        height: 18.75rem;

        .pointer {
            z-index: 500;
            display: block;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1rem;
        }
    }

    .fortune-wheel {
        display: flex;
        width: inherit;
        height: inherit;

        border-radius: 50%;
        overflow: auto;

        &.spinning {
            animation: rotate-to var(--animation-duration) ease-out forwards;
        }

        .yes-slice,
        .no-slice {
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "BraahOne";
            color: $bg;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: normal;
        }

        .yes-slice {
            background: linear-gradient(270deg, #009BF6 0%, #006AA8 100%);
            width: 50%;
            height: 100%;
        }

        .no-slice {
            background: linear-gradient(90deg, #FECE46 0%, #FEA42F 100%);
            width: 50%;
            height: 100%;
        }
    }
}

@keyframes rotate-to {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(var(--end-angle));
    }
}