@use "../node_modules/bootstrap/scss/bootstrap";
$bg: #08081E;
$bg-dark: #050914;
$offwhite: #F1EDE9;

@font-face {
    font-family: "BraahOne";
    src: url(../public/fonts/BraahOne/BraahOne.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kanchenjunga";
    src: url(../public/fonts/Kanchenjunga/Kanchenjunga.ttf) format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src:
        url(../public/fonts/MaterialIcons/MaterialSymbolsRounded-400.woff2) format('woff2'),
        url(../public/fonts/MaterialIcons/MaterialSymbolsRounded-400.ttf) format('truetype');
    font-display: block;
}


.material-symbols-rounded {
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.modal-content {
    padding: 1rem;
    background-color: $bg;
    box-shadow: 0 0 10px $bg-dark;

    .close {
        align-self: flex-end;
        font-size: 2rem;
        color: $offwhite;
        cursor: pointer;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        color: $offwhite;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
}