@use "../node_modules/bootstrap/scss/bootstrap";


@font-face {
    font-family: "BraahOne";
    src: url(../public/fonts/BraahOne/BraahOne.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kanchenjunga";
    src: url(../public/fonts/Kanchenjunga/Kanchenjunga.ttf) format("truetype");
    font-weight: 600;
    font-display: swap;
}